<footer class="page-footer grey darken-3">
  <div class="container">
    <div class="row">
      <div class="col s12 center-align">
        <h5 class="white-text">Database provided by <a href="https://anapioficeandfire.com/">Game Of Thrones API</a></h5>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col s12 center-align">
          Designed and Developer by <a href="https://www.linkedin.com/in/ernestomr87/">Ernesto M Rodriguez</a>
        </div>
      </div>
    </div>
  </div>
</footer>
