<table *ngIf="!fetching" class="fade-in-bottom">
  <thead>
    <tr>
      <th>Name</th>
      <th>Author</th>
      <th>Isbn</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let book of books; let i = index">
      <td>{{book.name}}</td>
      <td>{{book.authors[0]}}</td>
      <td>{{book.isbn}}</td>
      <td><a class="btn-floating btn-small"><i class="material-icons">send</i></a></td>
    </tr>
  </tbody>
</table>

<div *ngIf="fetching" class="center-align">
  <div class="preloader-wrapper active ">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>
