<div class="container">
  <div class="row" [ngClass]="ButtonsMenu()">
    <div class="col s12">
      <div class="row">
          <div class="col s12 m4  offset-m4 center" style="margin-top: 60px">
              <a class="btn-floating  waves-effect waves-light red" (click)="selectBack()">
                <i class="material-icons">arrow_back</i>

              </a>
              <h5>{{this.item}}</h5>
            </div>
      </div>
      <div class="row">
        <app-books *ngIf="item==='Books'"></app-books>
        <app-houses *ngIf="item==='Houses'"></app-houses>
        <app-characters *ngIf="item==='Characters'"></app-characters>
      </div>
    </div>
  </div>
  <div class="row main-menu" [ngClass]="MainMenu()">
    <div class="col s12 m4">
      <a class="waves-effect waves-light btn-large center-align" (click)="selectMenu('Books')">Books</a>
    </div>
    <div class="col s12 m4 center">
      <a class="waves-effect waves-light btn-large" (click)="selectMenu('Houses')">Houses</a>
    </div>
    <div class="col s12 m4 center">
      <a id="scale-demo" class="waves-effect waves-light btn-large" (click)="selectMenu('Characters')">Characters</a>
    </div>
  </div>
</div>
